@import "../../App.scss"; 

.projects{
    position: relative;

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;
        @include mobile{
            font-size: 20px;
            padding-top: 84px;
        }

        .progressBar{
            height: 8px;
            background-color: white;
            border-radius: 8px;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            @include mobile{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0;
            }

            .imageContainer{
                flex: 1;
                width: 50%;
                display: flex;
                justify-content: end;
                padding-top: 10vh;
                @include mobile{
                    width: 100%;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;
                    padding-top: 3rem;
                }
                img{
                    width: 70%;
                    object-fit: fill;
                    border-radius: 10px;
                    @include mobile{
                        height: 60%;
                    }
                }
            }

            .textContainer{
                flex: 1;
                width:50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;
                padding-top: 10vh;
                    
                @include mobile{
                    width: 70%;
                    padding: 2vh 0;
                    justify-content: center;
                    
                }

                h2{
                    font-size: 36px;
                    display: flex;
                    @include mobile{
                        width: auto;
                    }
                }

                p{
                    font-weight: 200;
                    width: 75%;
                    margin-bottom: 1rem;
                    @include mobile{
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: normal; 
                        overflow: hidden;
                    }
                }
                

                .btnContainer{
                    display: flex;
                    width: 100%;
                    button{
                        padding: 10px 16px;
                        border: 1px solid white;
                        border-radius: 6px;
                        background-color: transparent;
                        color: white;
                        margin-right: 20px;
                        cursor: pointer;
                        font-weight: 400;
                        font-size: 16px;
                    }
                    .primary-btn{
                        background-color: white;
                        color: black;
                    } 
                }
            }  
        }
        
    }
}