.skillsExperience{
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; /* Smooth scrolling */
    width: 100%;
    height: 100%;

    .skills, .experience {
        flex: 0 0 100%;
        scroll-snap-align: center; /* Align items to the center */
    }
    
    .skills {
        background-color: lightblue;
    }
    
    .experience {
        background-color: lightgreen;
    }
}