@import "../../App.scss";


.contact{
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    @include mobile{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 40px;
    }

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @include mobile{
            flex: 0;
            gap: 30px;
            justify-content: flex-start;
            text-align: left;
        }

        h1{
            font-size: 72px;
            line-height: 60px;
            @include mobile{
                font-size: 28px;
                text-align: center;
                line-height: 40px;
                margin-top: 20px;
            }
        }

        span{
            font-weight: 300;
        }

        .conItem{
            @include mobile{
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 0 40px;
                h2{
                    font-size: 16px;
                }
            }
            .social-links{
                display: flex;
                gap:20px;
                align-items: center;
                margin-top: 6px;
                img{
                    width: 20px;
                    height: 20px;
                }
                .mail{
                    width: 18px;
                    height: 18px;
                }
                .phone, .home{
                    width: 16px;
                    height: 16px;
                }
                a{
                    opacity: 0.5;
                    transition: 300ms all ease-out;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 5px;
                    &:hover{
                        opacity: 1;
                    }
                    span{
                        font-size: 18px;
                        line-height: 1;  
                    }
                }
            }
        }
    }

    .formContainer{
        flex:1;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include mobile{
            width: 100%;
            display: flex;
            justify-content: center;
            // align-items: center;
        }
        .phoneSvg{
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1;
            @include mobile{
                scale: 0.5;
                bottom: 2rem;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 80%;
            @include mobile{
                width: 75%;
                gap: 30px;
                margin-top: 1rem;
            }

            input,textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                @include mobile{
                    padding: 10px;
                }
                
            }

            textarea{
                @include mobile{
                    height: 90px;
                }
            }

            input::placeholder,textarea::placeholder{
                font-size: 16px;
                @include mobile{
                    font-size: 14px;
                }
            }

            button{
                padding: 20px;
                border: none;
                background-color: hsl(39, 100%, 50%);
                cursor: pointer;
                font-weight: 500;
                border-radius: 6px;
                font-size: 18px;
                display: flex;
                justify-content: center;
                @include mobile{
                    padding: 12px 18px;
                    font-size: 16px;
                }
                &:hover{
                    background-color: hsl(39, 100%, 60%);
                }
            }
            .loader {
                border: 4px solid rgba(0, 0, 0, 1);
                border-left-color: transparent;
                border-radius: 50%;
              }
              
              .loader {
                border: 4px solid rgba(0, 0, 0, 1);
                border-left-color: transparent;
                width: 24px;
                height: 24px;
              }
              
              .loader {
                border: 4px solid rgba(0, 0, 0, 1);
                border-left-color: transparent;
                width: 24px;
                height: 24px;
                animation: spin89345 1s linear infinite;
              }
              
              @keyframes spin89345 {
                0% {
                  transform: rotate(0deg);
                }
              
                100% {
                  transform: rotate(360deg);
                }
              }
        }
    }
}