.navbar{
    height: 100px;
    
    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: calc(100vw - 20%);
        span{
            font-weight: bold;
        }

        .social-links{
            display: flex;
            gap:20px;

            img{
                width: 18px;
                height: 18px;
            }
        }
    }
}